# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the .env file containing environment variables
.env

# Ignore Vector DB folder
/vector_db/

# ignore all __pycache__ folders
**/__pycache__/

# Ignore dataset files
*.pkl
*.jsonl

# ignore all __pycache__ folders
**/__pycache__/

# Ignore dataset files
*.pkl
*.jsonl