# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the .env file containing environment variables
.env

# Ignore Chroma folder
/chroma/

# ignore all __pycache__ folders
**/__pycache__/

# Ignore dataset files
*.pkl
*.jsonl